.card {
  align-items: center;
  background-size: 100% 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(0,0,0,0.30);
  display: flex;
  height: 20em;
  justify-content: center;
  margin-top: 1em;

  @media (min-width: 1024px) {
    margin-top: 0;
    width: 30%;
  }

  &__title {
    color: #FFF;
    font-size: 2em;
  }
}
