.hero {
  background-image: url('/static/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30em;
  position: relative;
  width: 100%;

  @media (min-width: 1024px) {
    height: 50em;
  }

  &__tagline {
    color: #ffff;
    font-size: 5em;
    text-align: center;
  }

  &__see {
    color: #FE4A49;
  }

  &__go {
    color: #66CD00;
  }

  &__do {
    color: #0EBFE9;
  }
}
