.destination-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

  &__destinations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}