.destination-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

  > h2 {
    font-size: 2em;
  }

  &__destinations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}
